.words-main {
  .words-wrapper-select {
    margin: 0 0 26px 0;
    display: flex;
    max-width: 200px;
    width: 100%;
    justify-content: space-between;
    align-items: center;

    .words-category-title {
      font-size: 18px;
    }

    .words-select-title {
      cursor: pointer;
      display: block;
      font-size: 16px;
      font-family: $font;
      color: $color-text;
      line-height: 1.3;
      padding: 0.6em 1.4em 0.5em 0.8em;
      width: 112px;
      max-width: 100%;
      margin: 0;
      border: 1px solid $color-border-card;
      box-shadow: 0 1px 0 1px $color-shadow;
      border-radius: 0.5em;
      -moz-appearance: none;
      -webkit-appearance: none;
      appearance: none;
      background-color: #fff;
      background-image: url("./assets/image/arrow-down.svg"), linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
      background-repeat: no-repeat, repeat;
      background-position: right 0.7em top 50%, 0 0;
      background-size: 0.65em auto, 100%;
    }
    .words-select-title::-ms-expand {
      display: none;
    }
    .words-select-title:hover {
      border-color: #888;
    }
    .words-select-title:focus {
      border-color: #aaa;
      box-shadow: 0 0 1px 3px rgba(59, 153, 252, 0.7);
      box-shadow: 0 0 0 3px -moz-mac-focusring;
      color: #222;
      outline: none;
    }
    .words-select-title option {
      font-weight: normal;
    }
    *[dir="rtl"] .words-select-title,
    :root:lang(ar) .words-select-title,
    :root:lang(iw) .words-select-title {
      background-position: left 0.7em top 50%, 0 0;
      padding: 0.6em 0.8em 0.5em 1.4em;
    }
  }

  .words-wrapper-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    .words-card {
      position: relative;
      margin: 10px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      border: 3px solid #999;
      border-radius: 5px;
      width: 280px;
      height: 380px;
      padding: 14px;

      .words-bold {
        font-weight: 600;
      }

      .words-word,
      .words-translation,
      .words-sound,
      .words-image-title {
        margin: 0 0 8px 0;
      }

      .words-image {
        margin: 0 0 13px 0;
      }

      .words-btn-change {
        @include button();
        outline: none;
        box-shadow: none;
        cursor: pointer;
        border: none;
        border: 2px solid $color-backgr-admin;
        border-radius: 5px;
        width: 100px;
        padding: 9px;
        background-color: transparent;
        color: $color-backgr-admin;
        transition: all 0.3s;
        align-self: center;

        &:hover {
          background-color: $color-backgr-modal-additional;
          color: $color-final-text;
          font-weight: 600;
        }
      }

      .words-bnt-remove {
        width: 25px;
        height: 25px;
        position: absolute;
        top: 5px;
        right: 7px;
        transform: rotate(45deg);
        cursor: pointer;

        &:before,
        &:after {
          content: "";
          position: absolute;
          z-index: -1;
          background: $color-text;
        }

        &:before {
          left: 50%;
          width: 15%;
          margin-left: -9%;
          height: 100%;
        }

        &:after {
          top: 50%;
          height: 15%;
          margin-top: -9%;
          width: 100%;
        }
      }
    }

    .words-card-new {
      justify-content: normal;
      background-image: url(./assets/image/add.svg);
      background-repeat: no-repeat;
      background-position: center;
      cursor: pointer;
      transition: all 0.3s;

      &:hover {
        background-size: 33%;
      }

      .words-name {
        font-size: 18px;
        font-weight: 600;
        text-align: center;
        margin: 0 auto 20px;
      }
    }
  }
}
