.header {
  display: flex;
  justify-content: space-between;
  margin: 12px auto;

  &.hidden {
    width: 0;
    height: 0;
    font-size: 0;
    opacity: 0;
  }

  .btn-sidebar {
    .menu__toggle-input {
      opacity: 0;

      &:checked ~ .menu__btn > span {
        transform: rotate(45deg);
      }
      &:checked ~ .menu__btn > span::before {
        top: 0;
        transform: rotate(0);
      }
      &:checked ~ .menu__btn > span::after {
        top: 0;
        transform: rotate(90deg);
      }
      &:checked ~ .menu__box {
        visibility: visible;
        left: 0;
      }
    }

    .menu__btn {
      display: flex;
      align-items: center;
      position: absolute;
      top: 20px;
      left: 20px;

      width: 44px;
      height: 40px;
      transition: left 0.2s linear;
      cursor: pointer;
      z-index: 4;

      &.hidden {
        transition: left 0.3s linear;
        left: 200px;
      }

      & > span,
      & > span::before,
      & > span::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 3px;
        background-color: $color-text;
        transition-duration: 0.25s;
      }

      &:hover {
        & > span,
        & > span::before,
        & > span::after {
          background-color: $color-btn-sidebar-hover;
        }
      }

      & > span::before {
        content: "";
        top: -15px;
      }
      & > span::after {
        content: "";
        top: 15px;
      }
    }
  }

  .switcher {
    .switch {
      position: relative;
      display: inline-block;
      width: 90px;
      height: 34px;

      input {
        display: none;
      }
    }

    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: $color-border-card;
      -webkit-transition: 0.4s;
      transition: 0.4s;
      border-radius: 34px;

      &:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: $color-main;
        -webkit-transition: 0.4s;
        transition: 0.4s;
        border-radius: 50%;
      }

      &:after {
        transition: 0.5;
        content: "PLAY";
        color: $color-main;
        display: block;
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 60%;
        font-size: 16px;
        font-family: $font;
      }
    }

    input:checked + .slider {
      background-color: $color-auxiliary;
    }

    input:checked + .slider:before {
      -webkit-transform: translateX(26px);
      -ms-transform: translateX(26px);
      transform: translateX(55px);
    }

    input:checked + .slider:after {
      content: "TRAIN";
      left: 36%;
    }
  }
}
