.sidebar {
  background-color: $color-auxiliary;
  position: absolute;
  left: 0;
  width: 290px;
  padding: 100px 0 0 50px;
  top: 0;
  height: 10000px;
  transition: all 0.3s linear;
  z-index: 3;
  opacity: 1;

  &.hidden {
    transform: translateX(-300px);
    opacity: 0;
  }

  .menu {
    display: flex;
    flex-direction: column;

    &-link {
      text-decoration: none;
      color: $color-main;
      margin-bottom: 24px;
      font-size: 20px;
      position: relative;
      cursor: pointer;
      line-height: 1;
      width: fit-content;

      &.active {
        color: $color-additional-active;
      }

      &:hover {
        color: $color-additional;
        transition: color 0.3s ease-out;
      }

      &::after {
        display: block;
        position: absolute;
        left: 0;
        width: 0;
        height: 2px;
        background-color: $color-additional;
        content: "";
        transition: width 0.3s ease-out;
      }

      &:hover::after,
      &:focus:after {
        width: 100%;
      }
    }
  }
}
