@import "./styles/reset";
@import "./styles/variables";
@import "./styles/general";
@import "./styles/header";
@import "./styles/category";
@import "./styles/sidebar";
@import "./styles/subject";
@import "./styles/final";
@import "./styles/statistic";
@import "./styles/diff";
@import "./styles/footer";
@import "./styles/login-modal";
